<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APRROVAL</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='final.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="header">
        <logo class="logo">
            <img src="riska.png" alt="">
        </logo>
        <navbar class="navbar">
            <ul>
                <li class="list"><a class="anchor" href="#">Home</a></li>
                <li class="list"><a class="anchor" href="#ra"> Risk Analysis</a></li>
                <li class="list"><a class="anchor" href="#abtus">About US</a></li>
                <li class="list"><a class="anchor" href="#down">Contact US</a></li>
            </ul>
            <a class="lost" href="#">Sign Up</a></li>
    </header>
    <div class="bg">
        <div class="appbox">
            <h1 class="co">
                CONGRATULATIONS YOU ARE CREDIT WORTHY!!!
            </h1>
            <p class="cong">
                Congratulations on being deemed creditworthy for the loan based on the financial inputs you provided.
                Your responsible financial behavior, stable income, good credit history, and realistic budget plan make
                you an excellent candidate for a loan. 
            </p>
        </div>

        <div class="loan">
            <h1 class="loanshere">APPLY FOR LOANS HERE.</h1>
            <ul class="yaar" type="circle">
            <li><a href="https://www.indianbank.in/category/loans/personal-individual/#!" target="_blank" class="loanweb">INDIAN BANK</a></li>
            <li><a href="https://sbi.co.in/web/personal-banking/loans/personal-loans" target="_blank" class="loanweb">SBI</a></li>
            <li><a href="https://www.bajajfinserv.in/personal-loan" target="_blank" class="loanweb">BAJAJ FINANCE</a></li>
            <li><a href="https://www.bankofbaroda.in/personal-banking/loans" target="_blank" class="loanweb">BANK OF BARODA</a></li>
            <li><a href="https://www.unionbankofindia.co.in/english/online-loan-application.aspx" target="_blank" class="loanweb">UNION BANK</a></li>
        </ul>
        </div>

    </div>
    <div class="footer" id="down">
        <div class="socials">
            <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.github.com" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
        </div>
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#ra">Risk Analysis</a></li>
            <li><a href="#abtus">About Us</a></li>
            <li><a href="#">Terms&Conditons</a></li>
        </ul>
        <div class="mail">
            <h4>CONTACT US:</h4>
            <ul>
                <li>chinmay.jadhav@spit.ac.in</li>
                <li>atharva.gite@spit.ac.in</li>
                <li>pratham.jain@spit.ac.in</li>
            </ul>
        </div>
        <div class="copyright">
            <p> &copy;RiskAssure. All rights reserved.</p>
        </div>

    </div>
</body>

</html>