<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DECLINE</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='final.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="header">
        <logo class="logo">
            <img src="riska.png" alt="">
        </logo>
        <navbar class="navbar">
            <ul>
                <li class="list"><a class="anchor" href="final.html">Home</a></li>
                <li class="list"><a class="anchor" href="#ra"> Risk Analysis</a></li>
                <li class="list"><a class="anchor" href="#abtus">About us</a></li>
                <li class="list"><a class="anchor" href="#down">contact us</a></li>
            </ul>
            <a class="lost" href="#">Sign Up</a></li>
    </header>
    <div class="bg">
        <div class="sad">
            <h1 class="co">
                WE APOLOGIZE, BUT BASED ON THE ASSESSMENT OF YOUR FINANCIAL PROFILE,YOU DO NOT MEET THE CREDITWORTHINESS CRITERIA..
            </h1>
            <p class="cong" class="sa">
                We understand that securing a loan is an important financial step, and we appreciate your interest in
                our services. After carefully reviewing the financial inputs you provided, we regret to inform you that
                we are unable to approve your loan application at this time.While we understand that this news may be disappointing, please know that our decision is based on a
                comprehensive evaluation of various factors, including income stability, credit history, and financial
                responsibilities.
            </p>
        </div>
        <div class="loan">
            <h1 class="loanshere">STRUGGLING TO IMPROVE CREDIT SCORE?</h1>
            <ul class="yaar" type="circle">
                <li><a href="https://www.hdfcbank.com/personal/resources/learning-centre/borrow/know-factors-that-can-affect-your-personal-loan-eligibility#:~:text=Monthly%20Income%20and%20Debt%2Dto,eligible%20for%20a%20Personal%20Loan." target="_blank"
                        class="loanweb">Factors affecting loan eligiblity</a></li>
                <li><a href="https://www.investopedia.com/terms/c/credit_score.asp" target="_blank"
                        class="loanweb">What is a CREDIT score?</a></li>
                <li><a href="https://www.bajajfinserv.in/insights/7-guaranteed-ways-to-boost-your-cibil-score" target="_blank" class="loanweb">How to improve CREDIT Score.</a></li>
            </ul>
        </div>

    </div>
    <div class="footer" id="down">
        <div class="socials">
            <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.github.com" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
        </div>
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#ra">Risk Analysis</a></li>
            <li><a href="#abtus">About Us</a></li>
            <li><a href="#">Terms&Conditons</a></li>
        </ul>
        <div class="mail">
            <h4>CONTACT US:</h4>
            <ul>
                <li>chinmay.jadhav@spit.ac.in</li>
                <li>atharva.gite@spit.ac.in</li>
                <li>pratham.jain@spit.ac.in</li>
            </ul>
        </div>
        <div class="copyright">
            <p> &copy;RiskAssure. All rights reserved.</p>
        </div>

    </div>
</body>

</html>